@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 130%;
  background-color: #D3D3D3;
  color: #1c1c1c;
  font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 120%;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
  padding: 0;
  margin: 0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  color: orange;
  text-decoration: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 100vh;
}

.wrapper .side {
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper .right {
  color: #D3D3D3;
  background-color: #1c1c1c;
}

.profile-img {
  border-radius: 50%;
}

.right li {
  padding-top: 10px;
  padding-left: 0;
  text-align: center;
}

h1 {
  line-height: 130%;
}

@media only screen and (max-width: 900px) {
  .profile-img{
    width: 200px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .wrapper .side {
    padding: 30px;
  }

  h1 {
    font-size: 160%;
  }

  body {
    font-size: 110%
  }
}
